body {
    background-color: rgba(0, 0, 0, 0.96);
}

.container {
    margin: 20px;
    float: left;
    position: relative;
    width: 350px;
}

.image {
    display: block;
    width: 350px;
    height: auto;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.75);
    overflow: hidden;
    width: 350px;
    height: 0;
    transition: .5s ease;
}

.container:hover .overlay {
    height: 100%;
}

.text {
    white-space: nowrap;
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}


/*
#justinbieber {
    margin-left: 5%;
    margin-top: 1%;
}

#deadmau {
    margin-left: 35%;
    margin-top: -24.5%;
}

#lilwayne {
    margin-left: 67.5%;
    margin-top: -24.5%;
}

#mika {
    margin-left: 5%;
}

#eminem {
    margin-left: 35%;
    margin-top: -25.75%;
}

#selenagomez {
    margin-left: 67.5%;
    margin-top: -24.5%;
}
*/

h3,
ol {
    color: rgba(0, 0, 0, 0.7);
}

ol {
    font-size: 15px;
}

.wrapper {
    margin-left: 10%;
}